.inherit-background {
	background-color: inherit;
}

.overlay-bg {
	background-color: @theme_base_color;
	opacity: 0.9;
	border-radius: 10px;
	padding: 10px;
}

.home-box {
	background-color: @theme_unfocused_bg_color;
	border-radius: 10px;
}
