.inherit-background {
	background-color: inherit;
}

.overlay-bg {
	background-color: @theme_base_color;
	opacity: 0.9;
	border-radius: 10px;
	padding: 10px;
}

.card {
	padding: 10px 5px;
}

.card > label {
	font-size: 18px;
	font-weight: bold;
}
